openapi: 3.0.0
info:
  title: payments-tug API
  version: 1.0.0

servers:
  - url: https://payments.theupgroup.com.mx

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        detail:
          type: string
          description: Only present in non-production environments

paths:
  /health:
    get:
      summary: Health Check
      security: []
      responses:
        '200':
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /payments:
    post:
      summary: Create a payment intent
      description: Creates a Stripe PaymentIntent with Connect transfer to the organizer. If paymentMethodId is provided the intent is confirmed immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - currency
                - customerId
                - destinationAccountId
                - applicationFeeAmount
                - appId
                - eventId
                - userId
                - ticketTypeId
                - quantity
              properties:
                amount:
                  type: integer
                  description: Total in cents
                  example: 50000
                currency:
                  type: string
                  example: mxn
                customerId:
                  type: string
                  example: cus_xxx
                destinationAccountId:
                  type: string
                  description: Stripe Connect account ID of the organizer
                  example: acct_xxx
                applicationFeeAmount:
                  type: integer
                  description: Platform fee in cents, computed by the client from the organizer's commission rate. Must be >= 0 and <= amount.
                  example: 5000
                appId:
                  type: string
                  example: spot
                eventId:
                  type: string
                  example: uuid
                userId:
                  type: string
                  description: Supabase user id of the buyer, stored in the PaymentIntent metadata so the payment-webhook edge function can create the event_bookings row(s)
                  example: uuid
                ticketTypeId:
                  type: string
                  description: event_ticket_types id being purchased, stored in the PaymentIntent metadata
                  example: uuid
                quantity:
                  type: integer
                  description: Number of tickets being purchased. Must be >= 1.
                  example: 1
                paymentMethodId:
                  type: string
                  description: If provided, intent is confirmed immediately (saved card flow)
                  example: pm_xxx
      responses:
        '201':
          description: Payment intent created
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientSecret:
                    type: string
                    description: null when paymentMethodId was provided
                  paymentIntentId:
                    type: string
                  platformFee:
                    type: integer
                    description: Platform fee in cents, echoed back from applicationFeeAmount
                    example: 5000
        '400':
          description: Missing required fields, or applicationFeeAmount is missing/negative/greater than amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to create payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/{id}:
    get:
      summary: Get payment status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: pi_xxx
      responses:
        '200':
          description: Payment status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    example: succeeded
                  amount:
                    type: integer
                    example: 50000
                  currency:
                    type: string
                    example: mxn
        '500':
          description: Failed to retrieve payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/checkout-sessions:
    post:
      summary: Create an embedded Checkout Session
      description: Web-only. Creates a Stripe Checkout Session (ui_mode `embedded_page`) with Connect transfer to the organizer, for mounting inline in Flutter web via Stripe.js embedded checkout. The client_secret returned here is a Checkout Session client secret, distinct from the PaymentIntent client secret used by POST /payments.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - currency
                - customerId
                - destinationAccountId
                - applicationFeeAmount
                - appId
                - eventId
                - userId
                - ticketTypeId
                - quantity
                - returnUrl
              properties:
                amount:
                  type: integer
                  description: Total in cents
                  example: 50000
                currency:
                  type: string
                  example: mxn
                customerId:
                  type: string
                  example: cus_xxx
                destinationAccountId:
                  type: string
                  description: Stripe Connect account ID of the organizer
                  example: acct_xxx
                applicationFeeAmount:
                  type: integer
                  description: Platform fee in cents, computed by the client from the organizer's commission rate. Must be >= 0 and <= amount.
                  example: 5000
                appId:
                  type: string
                  example: spot
                eventId:
                  type: string
                  example: uuid
                userId:
                  type: string
                  description: Supabase user id of the buyer, stored in the Checkout Session and PaymentIntent metadata so the payment-webhook edge function can create the event_bookings row(s)
                  example: uuid
                ticketTypeId:
                  type: string
                  description: event_ticket_types id being purchased, stored in the Checkout Session and PaymentIntent metadata
                  example: uuid
                quantity:
                  type: integer
                  description: Number of tickets being purchased. Must be >= 1.
                  example: 1
                returnUrl:
                  type: string
                  description: URL Stripe redirects to for payment methods that require an off-page redirect step (e.g. some 3DS flows), even though the main flow stays embedded
                  example: https://app.spot.mx/checkout/return
      responses:
        '201':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientSecret:
                    type: string
                    description: Checkout Session client secret, used to initialize Stripe.js embedded checkout. Distinct from a PaymentIntent client secret.
                  sessionId:
                    type: string
                    example: cs_xxx
                  platformFee:
                    type: integer
                    description: Platform fee in cents, echoed back from applicationFeeAmount
                    example: 5000
        '400':
          description: Missing required fields, or applicationFeeAmount is missing/negative/greater than amount
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to create checkout session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/customers:
    post:
      summary: Create or get Stripe customer
      description: Finds an existing Stripe customer by userId + appId metadata, or creates a new one.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - appId
              properties:
                appId:
                  type: string
                  example: spot
      responses:
        '200':
          description: Existing customer found
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                    example: cus_xxx
                  isNew:
                    type: boolean
                    example: false
        '201':
          description: New customer created
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    type: string
                    example: cus_xxx
                  isNew:
                    type: boolean
                    example: true
        '400':
          description: appId is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to create or retrieve customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/customers/session:
    post:
      summary: Create a customer session
      description: Creates a short-lived Stripe CustomerSession. Pass the returned clientSecret to Stripe.js Payment Element to display and manage saved cards.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
              properties:
                customerId:
                  type: string
                  example: cus_xxx
      responses:
        '201':
          description: Customer session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientSecret:
                    type: string
                    example: cuss_xxx_secret_xxx
        '400':
          description: customerId is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to create customer session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/customers/{customerId}/payment-methods:
    get:
      summary: List saved payment methods
      description: Returns all saved cards for a Stripe customer.
      parameters:
        - name: customerId
          in: path
          required: true
          schema:
            type: string
          example: cus_xxx
      responses:
        '200':
          description: Payment methods retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentMethods:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: pm_xxx
                        cardBrand:
                          type: string
                          example: visa
                        last4:
                          type: string
                          example: '4242'
                        expMonth:
                          type: integer
                          example: 12
                        expYear:
                          type: integer
                          example: 2027
        '400':
          description: customerId is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to retrieve payment methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/payment-methods/{pmId}:
    delete:
      summary: Delete a saved payment method
      parameters:
        - name: pmId
          in: path
          required: true
          schema:
            type: string
          example: pm_xxx
      responses:
        '200':
          description: Payment method deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: pmId is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to delete payment method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/setup-intents:
    post:
      summary: Create a setup intent
      description: Creates a Stripe SetupIntent to save a card without charging. Flutter uses the clientSecret with CardField to confirm.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - customerId
                - appId
              properties:
                customerId:
                  type: string
                  example: cus_xxx
                appId:
                  type: string
                  example: spot
      responses:
        '201':
          description: SetupIntent created
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientSecret:
                    type: string
                    example: seti_xxx_secret_xxx
        '400':
          description: customerId and appId are required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to create setup intent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/accounts/onboard:
    post:
      summary: Onboard organizer — create Stripe Connect account
      description: Creates a Stripe Connect account for the organizer and returns a KYC URL to open in the browser.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - appId
                - email
                - refreshUrl
                - returnUrl
              properties:
                appId:
                  type: string
                  example: spot
                email:
                  type: string
                  example: organizer@email.com
                refreshUrl:
                  type: string
                  description: Stripe redirects here if the onboarding link expires
                  example: https://yourapp.com/organizer/refresh
                returnUrl:
                  type: string
                  description: Stripe redirects here after KYC is completed
                  example: https://yourapp.com/organizer/return
      responses:
        '201':
          description: Organizer account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: string
                    example: acct_xxx
                  onboardingUrl:
                    type: string
                    example: https://connect.stripe.com/setup/e/...
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to create organizer account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/accounts/{accountId}/status:
    get:
      summary: Get organizer account status
      description: Returns whether the organizer has completed KYC and can receive charges.
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          example: acct_xxx
      responses:
        '200':
          description: Account status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  accountId:
                    type: string
                    example: acct_xxx
                  chargesEnabled:
                    type: boolean
                    example: true
                  detailsSubmitted:
                    type: boolean
                    example: true
        '500':
          description: Failed to retrieve account status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/accounts/{accountId}/link:
    post:
      summary: Create a new organizer onboarding link
      description: Generates a fresh Stripe Connect onboarding (KYC) link for an existing account, used when the organizer left onboarding mid-way and wants to resume.
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          example: acct_xxx
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshUrl
                - returnUrl
              properties:
                refreshUrl:
                  type: string
                  description: Stripe redirects here if the onboarding link expires
                  example: https://yourapp.com/organizer/refresh
                returnUrl:
                  type: string
                  description: Stripe redirects here after KYC is completed
                  example: https://yourapp.com/organizer/return
      responses:
        '200':
          description: Onboarding link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  onboardingUrl:
                    type: string
                    example: https://connect.stripe.com/setup/e/...
        '400':
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to create account link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/accounts/{accountId}/balance:
    get:
      summary: Get organizer balance
      description: Returns the connected account's Stripe balance. `available` can be paid out now; `pending` is still in Stripe's holding period and will move to `available` automatically.
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          example: acct_xxx
      responses:
        '200':
          description: Balance retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: integer
                    description: Amount in cents available for payout now
                    example: 1245000
                  pending:
                    type: integer
                    description: Amount in cents still in Stripe's holding period
                    example: 50000
                  currency:
                    type: string
                    example: mxn
        '500':
          description: Failed to retrieve organizer balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/accounts/{accountId}/payouts:
    get:
      summary: Get organizer payouts
      description: Returns the connected account's 10 most recent Stripe payouts.
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          example: acct_xxx
      responses:
        '200':
          description: Payouts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  payouts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: po_xxx
                        amount:
                          type: integer
                          example: 50000
                        currency:
                          type: string
                          example: mxn
                        arrivalDate:
                          type: integer
                          description: Unix timestamp (seconds)
                          example: 1735689600
                        status:
                          type: string
                          example: in_transit
                        description:
                          type: string
                          nullable: true
        '500':
          description: Failed to retrieve organizer payouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/accounts/{accountId}/charges:
    get:
      summary: Get organizer charges summary for the current month
      description: Aggregates the connected account's Stripe charges since the start of the current calendar month (paid, non-refunded only).
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          example: acct_xxx
      responses:
        '200':
          description: Charges summary retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  monthlyTotal:
                    type: integer
                    description: Sum of charge amounts this month, in cents
                    example: 1500000
                  currency:
                    type: string
                    example: mxn
                  ticketsSold:
                    type: integer
                    description: Number of paid, non-refunded charges this month
                    example: 30
                  spotCommission:
                    type: integer
                    description: Sum of application_fee_amount across this month's charges, in cents
                    example: 150000
        '500':
          description: Failed to retrieve organizer charges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /payments/accounts/{accountId}:
    delete:
      summary: Delete organizer account
      description: Permanently deletes a Stripe Connect account. Required for Apple App Store compliance.
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
          example: acct_xxx
      responses:
        '200':
          description: Account deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: accountId is required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to delete organizer account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /webhooks/stripe:
    post:
      summary: Stripe webhook receiver
      description: Receives events from Stripe. Verifies signature and forwards to SPOT backend. Must NOT include Authorization header.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  example: payment_intent.succeeded
                data:
                  type: object
      responses:
        '200':
          description: Event received
          content:
            application/json:
              schema:
                type: object
                properties:
                  received:
                    type: boolean
                    example: true
        '400':
          description: Webhook signature verification failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
